* {
    margin: 0;
    padding: 0;
}

header {
    padding: 20px;
    background-color: darkslategray;
    position: fixed;
    width: 97%;
}

nav {
    display: flex;
    justify-content: space-between;
    color: beige;
    align-items: center;

    ul {
        display: flex;
        justify-content: space-around;
        gap: 30px;

        li {
            list-style: none;


            a {
                color: aliceblue;
                text-decoration: none;
            }
        }
    }
}

a:hover {
    color: rgb(74, 211, 74);
}

.flex {
    display: flex;
    text-align: center;
    justify-content: center;

    color: rgb(16, 26, 26);
    ;

    img {
        width: 50%;
    }

    h2 {
        text-align: center;
    }
}

#text1 {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

h2 {
    color: #000000;
    text-align: center;
}

h3 {
    color: #eaeaea87;
    text-align: center;
}

.dev {
    display: flex;

    flex-wrap: wrap;

    justify-content: space-evenly;
}

section {
    margin-bottom: 5%;
    text-align: center;

    h2 {
        margin-bottom: 2%;
    }
}

.imgcomp {
    text-align: center;

    img {
        width: 100px;
    }
}

.parent {
    background-color: darkslategray;
    display: flex;
    margin: auto;
    justify-content: space-around;
    box-shadow: 100px;
    color: black;
}

.card {
    display: flex;
    flex-direction: column;
    width: 30%;
    border: 1px solid black;
    justify-content: center;
    text-align: center;
    box-shadow: 2px 2px 2px 2px black;

    img {
        width: 80%;
        align-self: center;
        margin: 30px;
    }
}
.booton{
    width: 30%;
    align-self: center;
    padding: 10px;
    background: black;
    border-radius: 10px;
    margin: 10px;
    a{
    text-decoration: none;
    color: #ffffff;

    }
}
#formulaire {
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#formmessage {
    margin: auto;
    justify-content: center;
    align-items: center;

    textarea {
        height: 100px;
        width: 6OOpx;
    }
}

#skill {
    color: white;
}

footer {
    background-color: black;
    color: white;
    width: 100%;
    height: 150px;
    float: inline-end;
    flex-direction: column;
    display: flex;
    padding-block-start: 50px;

    
    section{
        align-self: center;
    place-items: flex-start;
    align-content: center;
    font-size: 1.2rem;
    
}
}

.projets {
    display: flex;
    justify-content: space-around;

    h2 {
        color: black;
    }
}

#contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    width: 100%;

    button {
        background-color: blue;
        color: white;
        padding: 10px;
        border-radius: 5px;
    }
}

#hero {
    background-color: rgb(95, 156, 156);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        width: 100px;
    }
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

#liencv {
    background-color: black;
    color: white;
    padding: 12px 24px;
    border-radius: 8px;
    text-decoration: none;
}

input {
    display: flex;
}

#Apropos {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex {
    background-color: lightgray;
}

#contact {
    background-color: darkslategray;
    padding: 10px;
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 45%;
    gap: 4px;
    justify-content: center;
    align-items: center;

    textarea {
        width: 80%;
        resize: none;
    }

    button {
        justify-content: center;
        text-align: center;
        background-color: black;
        border-radius: 8px;
        box-shadow: 4px, black;
        height: 40px;
        width: 90px;
    }

}



#cv {
    justify-content: center;
    text-align: center;
    background-color: black;
    border-radius: 8px;
    box-shadow: 4px, black;
    height: 40px;
    width: 90px;
    padding: 50px;
}